{% extends 'map.html' %}

{% block nav %}
<form class="navbar-form navbar-right" role="statepopup">
<div class="form-group">
    <label class="checkbox-inline" title="Aktivieren Sie die Checkbox um das Popup mit den Landesergebnissen nicht anzuzeigen.">
        <input type="checkbox" id="statepopup"> Landesergebnisse aus
    </label>
</div>
</form>
{% endblock %}

{% block tooltip %}
<div class="tooltip" id="tooltip">
    <h4 id="tooltip-title"></h4>
    <div id="country-votes"></div>
    <p>Per Mausklick das Bundesland ein- oder ausblenden.</p>
</div>
{% endblock %}

{% block sidebar %}
<div class="row">
  <div class"col-md-12">
    <h3>Verteilung Zweitstimmen Gesamt</h3>
    <div id="vote-dist-total"></div>
  </div>

  <div class"col-md-12">
      <h3>Benutzung</h3>
      <p>Wie fiele die Bundestagswahl ohne ein bestimmtes Bundesland aus? Jedes Bundesland lässt sich durch Klicken an- oder abwählen. Wenn Sie die Maus über ein Bundesland bewegen, wird dessen Wahlergebnis eingeblendet. Sie können die Anzeige der Landesergebnisse als Popup auch im Menü oben rechts deaktivieren.</p>
  </div>

</div>
{% endblock %}