{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
  <div class="container">
    <h1>Bundestagswahlen 2013</h1>
    <p>Wie fiele die Bundestagswahl ohne ein bestimmtes Bundesland aus? Jedes Bundesland lässt sich durch Klicken an- oder abwählen. Wenn Sie die Maus über ein Bundesland bewegen, wird dessen Wahlergebnis eingeblendet.</p>
    <p><a class="btn btn-primary btn-lg" href="{{ base_url }}/bundestag/2013/">zum Wahlbaukasten 2013 &raquo;</a></p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h2>Bundestagswahlen 2009</h2>
      <p>Für die Bundestagswahl 2009 gibt es ebenfalls einen Wahlbaukasten.</p>
      <p><a class="btn btn-primary btn-lg" href="{{ base_url }}/bundestag/2009/">zum Wahlbaukasten 2009 &raquo;</a></p>
    </div>
  </div>
</div>
{% endblock %}
